#articulos .container-article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px;
    overflow-y: auto;
    width: 95%;
    height: 434px;

}

#articulos article{
    width: 25%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#articulos article img{
    width: 280px;
    height: 200px;
    border-radius: 3px;
}

#articulos article .info{
    width: 86%;
    display: flex;
    flex-direction: column;
}

#articulos .info span{
    font-weight: bold;
    font-size: 20px;
    color: #ff7f50;
    margin-bottom: 15px;
}

#articulos .info input{
    border: none;
    outline: none;
    width: 26px;
    font-size: 17px;
}

.btn-art{
    border: none;
    background-color: #4de240;
    color: #000;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}

.btn-art:hover{
    scale: 1.1;
}

#mensaje {
    display: none;
    position: fixed;
    right: 9%;
    top: 4%;
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    z-index: 9999;
    font-size: 16px;
    opacity: 0; /* Inicialmente transparente */
    transition: opacity 0.5s ease-in-out; /* Animación de transición de opacidad */
  }
  
  #mensaje.mostrar {
    display: block;
    opacity: 1; /* Mostrar el mensaje */
  }
  
  #mensajelogin.mostrar {
    display: block;
    opacity: 1; /* Mostrar el mensaje */
  }

   .mensaje-login button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
  }

  /* Estilos para el mensaje de iniciar sesión */
  #mensajeLogin {
    display: none;
    padding: 10px;
    background-color: #f3f1f1; /* Color de fondo del mensaje */
    color: #000; /* Color del texto */
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    position: fixed;
    width: 30%;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    top: 40%;
  }

  .cancel{
    background-color: red;
  }

  .acept{
    background-color: #4CAF50;
  }

/* responsive para moviles  */
@media only screen and (min-width: 360px) and (max-width: 768px) {

    #articulos{
        height: 605px;
    }

    #articulos .container-article{
        display: flex;
        justify-content: space-evenly;
        height: 553px;
    }

    #articulos .container-article article{
        width: 45%;
        padding-top: 10px;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

    #articulos .container-article article img{
        width: 130px;
        height: 100px;
    }

    .btn-art{
        padding: 5px 10px;
    }

}